# pip install pandas

In [1]:
import pandas as pd

In [3]:
lista = [12, 23, 34]
pd.Series(lista)

0    12
1    23
2    34
dtype: int64

In [4]:
lista = [12, 23, 34]
pd.DataFrame(lista)

    0
0  12
1  23
2  34

In [6]:
lista = [12, 23, 34]

d = {
    "valori":lista
}

pd.DataFrame(d)

   valori
0      12
1      23
2      34

In [9]:

df = pd.DataFrame( {
    "valori":[1, 2, 3], "culori":["alb", "negru", "verde"]
}
)
df

   valori culori
0       1    alb
1       2  negru
2       3  verde

In [10]:
df.dtypes

valori     int64
culori    object
dtype: object

In [11]:

df = pd.DataFrame( {
    "valori":[1, 2, 3], "culori":["alb", "negru", "verde"], "zile":[30, 31, 1]
}
)
df

   valori culori  zile
0       1    alb    30
1       2  negru    31
2       3  verde     1

In [12]:
df[["valori", "zile"]]

   valori  zile
0       1    30
1       2    31
2       3     1

In [13]:
df.to_json("date.json")

In [14]:
df.to_csv("date.csv")

In [15]:
df.describe()

       valori       zile
count     3.0   3.000000
mean      2.0  20.666667
std       1.0  17.039171
min       1.0   1.000000
25%       1.5  15.500000
50%       2.0  30.000000
75%       2.5  30.500000
max       3.0  31.000000

In [20]:

df = pd.DataFrame( {
    "valori":[1, 2, 3], "culori":["alb", "negru", "verde"], "zile":[30, 31, None]
}
)
df

   valori culori  zile
0       1    alb  30.0
1       2  negru  31.0
2       3  verde   NaN