In [41]:
import numpy as np
import pandas as pd

In [42]:

lista = [202, 33, 43, 15]
lista

[202, 33, 43, 15]

In [43]:
new_list = sorted(lista)
new_list

[15, 33, 43, 202]

In [44]:
lista

[202, 33, 43, 15]

In [45]:
another_new_list = lista.sort()
print(another_new_list)

None

In [46]:
lista

[15, 33, 43, 202]

In [47]:
df = pd.read_csv("Datasets/clwin.csv", index_col=0)
df.head(2)

    country       team  trophies
id
0   England  Liverpool       6.0
1     Spain  Barcelona       5.0

In [48]:
new_df = df.rename(columns={"team":"club"})
new_df.head(2)

    country       club  trophies
id
0   England  Liverpool       6.0
1     Spain  Barcelona       5.0

In [49]:
df.head(2)

    country       team  trophies
id
0   England  Liverpool       6.0
1     Spain  Barcelona       5.0

In [50]:
df.rename(columns={"team":"club"}, inplace=True)
df.head(2)

    country       club  trophies
id
0   England  Liverpool       6.0
1     Spain  Barcelona       5.0

In [51]:
df.drop("country", axis=1, inplace=True)
df

             club  trophies
id
0       Liverpool       6.0
1       Barcelona       5.0
2      Man United       3.0
3           Inter       3.0
4         Chelsea       2.0
5         Chelsea       2.0
6    Nottm Forest       2.0
7         Benfica       2.0
8        Juventus       2.0
9        FC Porto       2.0
10       Man City       1.0
11       Dortmund       1.0
12      Feyenoord       1.0
13      Marseille       1.0
14    Aston Villa       1.0
15        Hamburg       1.0
16  Crvena zvezda       1.0
17           FCSB       NaN
18            PSV       1.0
19         Celtic       1.0