In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("simple_data.csv")
df

        coord_x     coord_y category
0    203.175900  185.107149        a
1    178.999121  205.587416        a
2    154.055528  192.339881        a
3    211.160136  209.633947        a
4    185.962405  191.852619        a
..          ...         ...      ...
171  462.432157  242.373334        b
172  490.564537  235.205822        b
173  444.010085  262.168997        b
174  424.691566  226.654325        b
175  360.187278  283.848665        b

[176 rows x 3 columns]

In [ ]:
plt.scatter()